doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
  body
    h1 title

    - let username = true

    if username
      p hello user
    else if username == null
      p username no exist
    else
      p sorry error

    if !username
      p sorry error
    else
      p hello user

    unless username
      p sorry error
    else
      p hello user

    p(class= username ? 'registered' : 'unregistered')
