<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(href="style.css", rel="stylesheet")
    style.
      body {
        background-color: rgba(10,10,10,0.2);
      }
  body
    header(style={'background-color': 'blue', 'margin-top': '20px'})
    script(src="scripts.js")
    script.
      const aleart = () =>{
        aleart('Hello world')
      }
