doctype html
|
|
.container
  .container2
    .container3
|
|
ul
  li list1
  li list2
  li list3
|
|
|
a(href="#") link
|
|
|
img(src="#", alt="alt")
img(src="#"  alt="alt")
|
|
p#first-text text
o.text1.text2.text3 text
p#first-text.text text