doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
  body
    p.text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet voluptatibus omnis, libero sunt facere veritatis nam sint consequuntur iste quaerat minima animi fugiat quia obcaecati totam asperiores laudantium ducimus? Dolorum.